<div class="container text-center">
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-white">
            &nbsp;
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-white">
            <h1 class="text-start">Tela de Consulta</h1>
            <p>
             <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Bairro</th>
                    <th>CEP</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {{#each lista}}
                    {{#dataValues}}
                        <tr>
                            <td>{{nome}}</td>
                            <td>{{endereco}}</td>
                            <td>{{bairro}}</td>
                            <td>{{cep}}</td>
                            <td>{{cidade}}</td>
                            <td>{{estado}}</td>
                            <td>
                                <button class="btn btn-primary"><a href="/editar/{{id}}" class="text-white">Editar</a></button>
                                <button class="btn btn-danger"><a href="/excluir/{{id}}" class="text-white">Excluir</a></button>
                            </td>
                        </tr>  
                    {{/dataValues}}
                {{/each}} 
            </tbody>
        </table>
    </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
</div>